.head-banner {
  background-color: #848484;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("./images/city.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.sezione-icone {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/* .bi {
    font-size: 60px;
} */

.sezione-immagini .immagine {
  min-height: 30rem;
  background-size: cover;
}

.sezione-immagini .testo {
  padding: 3rem;
}

.recensioni {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.recensione-singola img {
  height: 200px;
  width: 200px;
}

.newsletter {
  background-color: #848484;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("./images/city.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.list-inline-item svg {
  font-size: 30px;
}

.list-inline-item > a {
  color: black;
}

  
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 40px;
    color: black;
    background: grey;
  }

@media screen and (min-width: 768px) {
  .head-banner {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .sezione-immagini .testo {
    padding: 7rem;
  }
}
